.boxes {
	padding: 15px;
	box-sizing: border-box;
}
.txt-box {
	background: #CCC;
	padding: 1px 15px 15px 15px;
}
/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {

}
